.postTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    color: #00786F;
}

.postDesc {
    font-size: 14px;
    color: #002926;
    font-family: 'Josefin Sans', sans-serif;
}
.postBtn{
    background-color: #00786F !important;
    color: #fff !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-family: 'Josefin Sans', sans-serif !important;
    transition: background-color 0.3s ease !important;
}
.postBtn:hover{
    background-color: #09677a !important;
}