.postTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    color: #00786F;
}

.postDesc {
    font-size: 14px;
    color: #002926;
    font-family: 'Josefin Sans', sans-serif;
}

.postBtn {
    padding: 10px 20px !important;
    cursor: pointer !important;
    font-family: 'Josefin Sans', sans-serif !important;
    transition: background-color 0.3s ease !important;
}

.postBtn:hover {
    background-color: #00786F !important;
    color: #ffffff !important;
    border: none !important;
}

.icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}

.likeIcon,
.commentIcon,
.shareIcon {
    color: #575757;
    cursor: pointer;
}
.likedIcon {
    color: #0370ff;
    cursor: pointer;
}